<!DOCTYPE html>
<html>
  <head>
    <title>GoTalent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="google-site-verification" content=""/>
    
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://gotalent.ie">
    <meta name="twitter:title" content="Talent discovery">
    <meta name="twitter:description" content="Find band members, book gigs or discover hidden Ireland.">
    <meta name="twitter:image" content="http://davidwalsh.name/wp-content/themes/punky/images/logo.png">
    
    <link rel="stylesheet" href="/css/build.css">
    
    <!--[if lt IE 7]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
    </head>
    <body>